In [9]:
import statsmodels
import scipy as sc
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2
import matplotlib.pyplot as plt

In [10]:
raw = pd.read_csv("botswana.tsv", sep="\t", index_col=False) 
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [11]:
raw.religion.unique()

array(['catholic', 'protestant', 'spirit', 'other'], dtype=object)

In [12]:
wo_na = raw.dropna()

In [13]:
wo_na.shape

(1834, 15)

In [14]:
raw['nevermarr'] = raw['agefm'].apply(lambda x : 1 if str(x) == 'nan' else 0)
raw['agefm'] = raw['agefm'].apply(lambda x : 0 if str(x) == 'nan' else x)
raw.loc[raw.nevermarr == 1, 'heduc'] = -1
raw.drop('evermarr', axis=1, inplace=True)

In [15]:
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [16]:
raw.heduc.isnull().sum()

123

In [17]:
raw['idlnchld_noans'] = raw['idlnchld'].apply(lambda x : 1 if str(x) == 'nan' else 0)
raw['usemeth_noans'] = raw['usemeth'].apply(lambda x : 1 if str(x) == 'nan' else 0)
raw['heduc_noans'] = raw['heduc'].apply(lambda x : 1 if str(x) == 'nan' else 0)
raw['idlnchld'] = raw['idlnchld'].apply(lambda x : -1 if str(x) == 'nan' else x)
raw['usemeth'] = raw['usemeth'].apply(lambda x : -1 if str(x) == 'nan' else x)
raw['heduc'] = raw['heduc'].apply(lambda x : -2 if str(x) == 'nan' else x)

In [18]:
raw.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr,idlnchld_noans,usemeth_noans,heduc_noans
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0,0,0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0,0,0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1,0,0,0
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0,0,0,0

In [19]:
data = raw.dropna()

In [20]:
data.shape

(4348, 18)

In [127]:
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth +'\
            'agefm + heduc + urban + electric + radio + tv + bicycle +'\
            'nevermarr + idlnchld_noans + usemeth_noans + heduc_noans', 
             data=data)
fitted = m1.fit()
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     412.5
Date:                Sun, 02 Apr 2017   Prob (F-statistic):               0.00
Time:                        19:46:49   Log-Likelihood:                -7732.1
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4328   BIC:                         1.563e+04
Df Model:                          19
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------
Intercept                 -1.0263      0.212     -4.835      0.000        -1.443    -0.610
religion[T.other]         -0.0830      0.083     -1.001      0.317        -0.245     0.080
religion[T.protestant]    -0.0149      0.082     -0.181      0.857        -0.176     0.146
religion[T.spirit]        -0.0191      0.077     -0.248      0.804        -0.171     0.132
age                        0.1703      0.003     51.891      0.000         0.164     0.177
educ                      -0.0724      0.007     -9.843      0.000        -0.087    -0.058
idlnchld                   0.0760      0.011      6.923      0.000         0.054     0.098
knowmeth                   0.5564      0.121      4.580      0.000         0.318     0.795
usemeth                    0.6473      0.048     13.424      0.000         0.553     0.742
agefm                     -0.0604      0.007     -9.213      0.000        -0.073    -0.048
heduc                     -0.0551      0.008     -6.838      0.000        -0.071    -0.039
urban                     -0.2137      0.047     -4.527      0.000        -0.306    -0.121
electric                  -0.2685      0.077     -3.479      0.001        -0.420    -0.117
radio                     -0.0235      0.051     -0.461      0.645        -0.123     0.076
tv                        -0.1451      0.093     -1.566      0.118        -0.327     0.037
bicycle                    0.2139      0.050      4.260      0.000         0.115     0.312
nevermarr                 -2.2393      0.148    -15.143      0.000        -2.529    -1.949
idlnchld_noans             0.6539      0.153      4.286      0.000         0.355     0.953
usemeth_noans              0.7652      0.196      3.910      0.000         0.382     1.149
heduc_noans               -0.8724      0.145     -6.026      0.000        -1.156    -0.589
==============================================================================
Omnibus:                      224.411   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              859.014
Skew:                           0.003   Prob(JB):                    2.93e-187
Kurtosis:                       5.178   Cond. No.                         361.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [120]:
print 'Breusch-Pagan test: p=%f' % sms.het_breushpagan(fitted.resid, fitted.model.exog)[1]

Breusch-Pagan test: p=0.000000

In [136]:
m2 = smf.ols('ceb ~ age + educ  + idlnchld + knowmeth + usemeth +'\
            'agefm + heduc + urban + electric + bicycle +'\
            'nevermarr + idlnchld_noans + usemeth_noans + heduc_noans', 
             data=data)
fitted = m2.fit(cov_type='HC1')
print fitted.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     463.4
Date:                Sun, 02 Apr 2017   Prob (F-statistic):               0.00
Time:                        19:54:22   Log-Likelihood:                -7734.5
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4333   BIC:                         1.559e+04
Df Model:                          14
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept         -1.0698      0.258     -4.152      0.000        -1.575    -0.565
age                0.1702      0.004     38.746      0.000         0.162     0.179
educ              -0.0729      0.007    -10.311      0.000        -0.087    -0.059
idlnchld           0.0770      0.014      5.323      0.000         0.049     0.105
knowmeth           0.5610      0.174      3.224      0.001         0.220     0.902
usemeth            0.6516      0.052     12.571      0.000         0.550     0.753
agefm             -0.0606      0.010     -6.192      0.000        -0.080    -0.041
heduc             -0.0573      0.009     -6.440      0.000        -0.075    -0.040
urban             -0.2190      0.045     -4.814      0.000        -0.308    -0.130
electric          -0.3207      0.063     -5.076      0.000        -0.445    -0.197
bicycle            0.2046      0.048      4.279      0.000         0.111     0.298
nevermarr         -2.2501      0.202    -11.158      0.000        -2.645    -1.855
idlnchld_noans     0.6565      0.216      3.043      0.002         0.234     1.079
usemeth_noans      0.7732      0.212      3.639      0.000         0.357     1.190
heduc_noans       -0.8853      0.191     -4.638      0.000        -1.259    -0.511
==============================================================================
Omnibus:                      224.096   Durbin-Watson:                   1.886
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              856.760
Skew:                           0.004   Prob(JB):                    9.06e-187
Kurtosis:                       5.175   Cond. No.                         345.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)

In [131]:
m3 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth + usemeth +'\
            'agefm + heduc + urban + electric + bicycle +'\
            'nevermarr + idlnchld_noans + usemeth_noans + heduc_noans', 
             data=data)
fitted = m3.fit(cov_type='HC1')
#print fitted.summary()

In [132]:
print "F=%f, p=%f, k1=%f" % m2.fit().compare_f_test(m3.fit())

F=0.919236, p=0.467231, k1=5.000000

In [137]:
m4 = smf.ols('ceb ~ age + educ + idlnchld + knowmeth +'\
            'agefm + heduc + urban + electric + bicycle +'\
            'nevermarr + idlnchld_noans + heduc_noans', 
             data=data)
fitted = m4.fit(cov_type='HC1')
#print fitted.summary()

In [138]:
print "F=%f, p=%f, k1=%f" % m2.fit().compare_f_test(m4.fit())

F=92.890582, p=0.000000, k1=2.000000

In [139]:
F,p,K1 = m2.fit().compare_f_test(m4.fit())
print p

3.15520094804e-40